<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="json-to-global.ZPM">
    <Module>
      <Name>json-to-global</Name>
	  <Description>Load JSON from file or stream to Global</Description> 
      <Version>0.0.1</Version>
      <Packaging>module</Packaging>
      <SourcesRoot>src</SourcesRoot>
      <Resource Name="rcc.PKG"/>
    </Module>
  </Document>
</Export>
